/* Layout helpers
----------------------------------*/
body {

	background-color: rgba(112, 164, 241, 0.475);
	background-image: url("../img/Blair471.jpg");
	background-clip: 90 ;
	background-position: center;
}
.nav-link{
	font-weight: bold;
	 
}
#eventTable, h4{
	padding: 20px;
}
#regisButton{
	margin-top: 40px;
	margin-bottom: 40px;
}
.date{
	padding-right: 20px;
	padding-top: 20px;
}
.date1{
	padding-left: 30px;
}
.login-form {
	float: right;
}
ul{
	list-style-type: none;
}
li{
	float: left;
	padding-right: 10px;
}

#register-form, #signin-form, .g-signin2, #sign-out, #app-content, #registered-events{
	margin-right: 20px;
	padding-right: 10px;
}
#carosel {
	padding: 5%;
	float: center;
}
.carousel-inner{
	width:100%;
	max-height: 450px !important;
}
.motivate{
	font-size: 10px;
	color: gray;
}
.google{
	float: right;
	padding: 45px;
	border-left: 1px solid lightgray;
}
.signinbtn {
	margin-top: 13px;
}
#app-content {
	margin-top: 10px;
}